:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --accent-logo-color: #2196f3;
  --accent-bg-color: #2f303a;
  --button-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --card-gap: 30px;
  --project-card-border: #eeeeee;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* Header */
.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border-color);
}

/* Logotype */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.colortext {
  color: var(--accent-color);
}
.colortext-accent {
  color: var(--primary-white-color);
}
/* Navigation */

.navigation {
  display: flex;
  align-items: center;
}

.nav {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent-color);
}
/* Contact list */

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-info {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-info:hover,
.contact-info:focus {
  color: var(--accent-color);
}

/* Main */

/* Hero */

.hero {
  background-color: var(--accent-bg-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Hero button */

.hero-button {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  height: 50px;
  min-width: 200px;
}

/* Common sections */

.section {
  padding: 94px 0;
}

.section.secondary {
  padding-top: 0;
}

.title {
  color: var(--title-text-color);

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* Our fatures */
.features {
  display: flex;
  margin: 0;
}
.features .features-item + .features-item {
  margin-left: 30px;
}

.features-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
/* About Us  */

.about {
  display: flex;
  justify-content: center;
}
.about .about-item + .about-item {
  margin-left: 30px;
}

/*  Our  Team */
.team {
  display: flex;
  margin-left: calc(-1 * var(--card-gap));
}
.section.around {
  background-color: var(--team-bg-color);
}

.team-card {
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-left: var(--card-gap);

  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-content {
  padding: 30px 0;
}

.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-info {
  font-weight: 400;
  text-align: center;
}

/* Filter */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  background-color: var(--button-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Our projects */

.project-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-link {
  text-decoration: none;
}

.project-info {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Card-set */

.project {
  margin-right: calc(-1 * var(--card-gap));
  margin-bottom: calc(-1 * var(--card-gap));
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
  margin-bottom: var(--card-gap);
}

.card-content {
  padding: 20px 24px;
  outline: 1px solid var(--project-card-border);
}

/* Footer */
.page-footer {
  background-color: var(--accent-bg-color);
  padding: 60px 0px;
}

/* Address */

.address {
  font-style: normal;
}
.address-items {
  margin-top: 20px;
}

.address-item {
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address .address-item + .address-item {
  margin-top: 9px;
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

.sub {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
